.hidden {
    opacity: 0.5;
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    transform: translateX(0);
    transition: all 0.7s;
    
}
#informations-top:nth-child(2) {
    transition-delay: 2000ms;
}